# OSX
.DS_Store

# Xcode
*.xcworkspace
xcuserdata

# Android
.gradle
local.properties
android/.gradle
android/app/build
android/build

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Metro
.metro-cache

# Build
build/
web-build/
dist/

# IDE
.idea/
.vscode/
*.iml

# Misc
*.log
.env
.env.local
